.side-nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 11.25em; /* Set the width of the sidebar */
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .side-nav a {
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    /* background-color: green; */
    border: 2px solid red;
    border-radius: 5%;
  }

  .side-nav a:hover {
    color: #f1f1f1;
  }
  .home_page-div{
    display: grid;
    justify-items: center;
    align-items: center;
}

  @media only screen and (max-width: 607px) {
      a{
        
          font-size: smaller;
      }
    .side-nav {
        width: unset;
        height:auto;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      background-color: lightblue;
    }
      .side-nav a{
          padding:0
    }
    .home_page-div{
display: grid;
margin-top: 4em;

  }


  }